set default=0
set timeout=30

insmod at_keyboard
insmod usb_keyboard
insmod font
insmod gfxterm
insmod cpuid
insmod ioports
insmod memrw
insmod hexdump
insmod pci

loadfont (cbfsdisk)/unicode.pf2
set color_normal=white/black
set color_highlight=black/white

terminal_input at_keyboard usb_keyboard
terminal_output gfxterm

menuentry "Tianocore (UEFI)" {
    chainloader (cbfsdisk)/img/tianocore
}
menuentry "SeaBIOS (MBR)" {
    chainloader (cbfsdisk)/img/seabios
}
menuentry "coreinfo" {
    chainloader (cbfsdisk)/img/coreinfo
}
menuentry "Memtest86+" {
    chainloader (cbfsdisk)/img/memtest
}
