# SPDX-License-Identifier: GPL-2.0-only

config BOARD_LENOVO_SKL_IDEAPAD_320_14ISK
	bool
	#select AZALIA_USE_LEGACY_VERB_TABLE
	select BOARD_ROMSIZE_KB_8192
	#select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	#select INTEL_GMA_HAVE_VBT
	#select MAINBOARD_HAS_LIBGFXINIT
	select SOC_INTEL_COMMON_BLOCK_HDA_VERB
	select SOC_INTEL_SKYLAKE
	#select SPD_READ_BY_WORD
	select SYSTEM_TYPE_LAPTOP

config MAINBOARD_DIR
	default "lenovo/skl_ideapad320-14isk"

config MAINBOARD_PART_NUMBER
	default "320-14isk"

config CBFS_SIZE
	default 0x5f0000

config MAX_CPUS
	default 8

config DIMM_MAX
	default 2

config DIMM_SPD_SIZE
	default 512	# DDR4

config CONSOLE_SERIAL
	default y

config NO_POST
	default n

config CONFIG_CBMEM_CHECKS
	default y

config ITE8586E
	bool
	select SUPERIO_ITE_COMMON_PRE_RAM
	select ITE_ENV_CTRL

